.crmSystme {
  color: white;
  padding-right: 40px;
  font-size: 28px;
  float: right;
}
.date{
  margin-left: 40px;
  font-size: 36px;
  font-weight: bold;
}
.div_divider{
	height: 0.1px;
  background-color: #d3d0d0;
  width: 94%;
  padding: 1px;
  margin: auto;
}
.dashboard{
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 4px;
}
.titleBar{
  background-color: #F06811;
  height: 39px;
  line-height: 39px;
  display: flex;
}
.viewTable {
  border-radius: 10px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  height: 250px;
}
.separateTable {
  border-width: 1px; 
  border-style: solid; 
  border-collapse: collapse; 
  margin: 10px;
  width: 95%;
  height: 150px;
}
.separateTable td, 
.separateTable tr {
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
  border-style: solid;
  padding: 3px;
}
.dashboardTableHeader{
  margin: 0px; 
  width: 100%; 
  font-weight: bold; 
  font-size: 16px;
}
.newProduct{
  margin: 0px;
  width: 100%;
  margin-left: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.newIcon{
  background-color: black;
  color: white;
  padding: 4px;
  margin: auto;
  border-radius: 4px;
  font-weight: bold;
}
.newProductDiv{
  float: right;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  margin-left: 10px;
}
.newLines{
  width: 100%;
  display: flex;
  text-align: center;
  height: 35px;
  margin: 15px;
  margin-left: 30px;
}