/* CSS Document */
.home_icon1{
	width:242px;
	height:157px;
	background-color:rgba(255,255,255,0.7);
	border-radius:8px;
	margin:10px;
	float:left;
	transform:ease 0.65s;
}
.pop_form_header{
	background-color: #333;
    width: 99%;
    color: white;
    font-size: 17px;
    padding: 5px;
    font-family: arial;
    font-weight: bold;
}
.success{
	font-family:Arial;
	font-size:14px;
	color:#393;
	font-weight:bold;
}
.do_b{
	font-family:Arial;
	font-size:14px;
	color:#333;
}
.yes_approved{
	background-color:#0C3;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	width:150px;
	padding:10px;
	text-align:center;
	content:'Approved'
}
.no_approved{
	background-color:#0C3;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	width:150px;
	padding:10px;
	text-align:center;
	content:'Not Approved'
}
.dash_shortcut{
    background-color: #CCC;
    /* border-radius: 6px; */
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    transition: ease 0.65s;
    text-align: center;
	margin-bottom:10px;
}
.dash_shortcut:hover{
	background-color:#999;
}
.dash_view_bt1{
	background-color:#CCC; 
	width:100px; 
	padding:10px; 
	text-align:center; 
	transition: ease 0.65s;
	border:thin solid #333;
}
.dash_view_bt1:hover{
	background-color: #999;
}
.home_icon1:hover{
	background-color:#CCC;
	cursor:pointer;
}
.tab_bt{
	background-color:#a7a9ac;
	padding:4px; 
	width:100px;
	transition:ease 0.65s;
}
.tab_bt{
	background-color:#CCC;
}
.home_copy1{
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding:10px;
	color:#333;
	text-decoration:none;
}
@media print {
.page-break	{ display: block; page-break-before: always; }
.output {
        -ms-transform: rotate(270deg);
        /* IE 9 */
        -webkit-transform: rotate(270deg);
        /* Chrome, Safari, Opera */
        transform: rotate(270deg);
        top: 1.5in;
        left: -1in;
      }
    }
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #F3F3F3;
}
.Button{
	background-color: white;
	border:thin solid #333;
	transition:ease 0.65s;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333;
	border-radius:7px;
	margin:10px;
	padding:10px;
	text-align:center;
	width:400px;
}
.Button:hover{
	background-color:#999;
}
#header{
    margin: 0 auto;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 999;
	border: thin solid #999;
}
.div_logout_bt{
	background-color: #000;
	color:#FFFFFF !important;
	padding: 4px;
	width: 145px;
	text-align:center;
}
.copy_01{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	padding:2px;
}
.copy_02{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	padding:10px;
}
.heading_01{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:2px;
}
.heading_02{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:10px;
	color:#FFF;
}
#header_text{
	float:left;
	font-size:16pt;
	font-weight:bold;
	color:#333333;
	padding-left:50px;
	padding-top:20px;
}
#header_text2{
	font-size:12pt;
	color:#333333;
	padding-top:5px;
}
#header_image{
	float:right;
    margin-right: 20px;
    margin-top: 10px;
}
#content{
	margin:0 auto;
	/*width:850px;*/
	background-color:#F3F3F3;
	border-top: 1px solid #333333;
	display: flex;
}
#content_menu{
	width: 200px;
	float: left;
	padding-top: 10px;
	background-color: #333;
	padding: 2px;
	height: 100%;
	position: fixed;
	/* top: 107px; */
}
.div_divider{
	height:0.1px;
	background-color: #666;
	width: 150px;
	padding: 1px;
}
#content_menu ul{
	list-style:none;
}
#content_menu li{
	padding-bottom:5px;
	margin-left:-25px;
}
#content_menu a{
	text-decoration:none;
	color: #CCC;
}
#content_menu a:hover{
	text-decoration:underline;
}
#content_main{
    padding-left: 20px;
    width: 100% - 200px;
    float: left;
    padding-top: 20px;
    /* padding-bottom: 25px; */
    background-color: #F3F3F3;
    left: 200px;
    position: absolute;
    /* top: 110px; */
}
.tablelist{
	width:100%;
}
.tablelist td{
	padding:4px;
}
.tablelist tr:hover{
	background-color:#EEEEEE;
	cursor:default;
}
.tableadd td{
	/*padding:4px;*/
}
.tablefilter{
}
.tablefilter td{
	padding:2px;
}
.txt2{
	width:200px;
}
.txt3{
	width:350px;
}
.txt3_h{
	width:350px;
    height: 100px;
}
.txt4{
	width:50px;
}
.txt5{
	width:300px;
}
.txt5h{
	width:300px;
    height: 75px;
}
.textarea1{
	font-family:Arial, Helvetica, sans-serif;
	width:500px;
	height:150px;
}
.textarea2{
	font-family:Arial, Helvetica, sans-serif;
	width:250px;
	height:60px;
}
.textarea3{
	font-family:Arial, Helvetica, sans-serif;
	width:475px;
	height:100px;
}
.select1{
	width:206px;
}

.tablelist img{
	padding-left:25px;
	padding-right:25px;
}
.select_copy{
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:3px;
}
.home_blk{
	width:100%; 
	margin:5px; 
	height:300px; 
	float:left;
	border:thin solid #666;
}
.clear{
	clear:both;
}
.do_b{
	/*font-weight:bold;*/	
}
.addnew{
	margin-top:30px;
}
.addnew a{
	text-decoration:none;
	color:#000000;
}
.tab_selector_selected{
	background-color:#EEEEEE;
	width:150px;
	float:left;
	margin-right:10px;
	border:1px solid black;
}
.tab_selector_selected a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	width:130px;
	padding:10px;
	display:inline-block;
}
.tab_selector_unselected{
	background-color:#EEEEEE;
	width:150px;
	float:left;
	margin-right:10px;
}
.tab_selector_unselected a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	width:130px;
	padding:10px;
	display:inline-block;
}

.tab_selected{
	display:inline;
}
.tab_unselected{
	display:none;
}
.text_small{
	font-size:7pt;
}
.fieldset_visible{
	border:none;
	padding-left:0px;
}
.fieldset_notvisible{
	display:none;
}
.txtgrey{
	color:#BBBBBB;
}


#validate_response{
    color: #FF0000;
}
#imageviewer{
    display: none;
}

.small{font-size: .8em;}
.no_b {font-weight: normal;}
.do_i {font-style: italic;}
.grey_line{border-top: 1px solid #DDD;}

.roundNewButton{
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 14px;
	padding-left: 10px;
	padding-right: 10px;
	width: 178px;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 23px;
	font-size: 14px;
	/*font-family: Helvetica Neue, Regular;*/

}
.sideItem{
	font-size: 14px;
    height: 28px;
    display: flex;
    align-items: center;
}
.sideItemA{
	color: white;
    text-decoration: blink;
}